<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>125654655012-ok76tgo4s1ohldjjatg1qlat9jupdinh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125654655012-ok76tgo4s1ohldjjatg1qlat9jupdinh</string>
	<key>API_KEY</key>
	<string>AIzaSyD3vLib5BfmNYsnE886WeO7iyqjZZ0xQIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>125654655012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wesleyheesters.hearthstonelib</string>
	<key>PROJECT_ID</key>
	<string>hearthstonelib-1981d</string>
	<key>STORAGE_BUCKET</key>
	<string>hearthstonelib-1981d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125654655012:ios:bd406ae4369df64c</string>
	<key>DATABASE_URL</key>
	<string>https://hearthstonelib-1981d.firebaseio.com</string>
</dict>
</plist>