.cost-health-attack-col {
  font-size: 1.5em;
  color: white;

  .cost-health-attack{
    border-radius: 100px;
  }

  .cost {
    background-color: #48BBFC;
  }

  .health {
    background-color: #f53d3d;
  }

  .damage {
    background-color: #ffce00;
  }

  ion-icon {
    position: relative;
    top: 3px;
  }
}

.card-info {
  text-align: center;
}

.card-image {
  margin: auto;
  max-height: 25em;
  border-radius: 50px;
  background-color: #eeeeee;
}

.favorite-icon {
  font-size: 30px;
}

.favorite {
  color: gold;
}
