<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title text-capitalize>
            {{card?.name}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-fab *ngIf="card" vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="favoriteCard(card)" color="tertiary">
            <ion-icon class="favorite-icon"
                      [ngClass]="card.favorite ? 'favorite' : 'normal'"
                      name="star"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div *ngIf="card" class="card-info">
        <ion-item *ngIf="card.img || card.imgGold">
            <img class="card-image" [src]="imageUrl" (click)="changeImage()" (error)="updateImage($event)">
        </ion-item>
        <ion-row *ngIf="card.health || card.attack || card.cost">
            <ion-col *ngIf="card.cost">
                <p class="health-and-attack" text-wrap>
                    <ion-icon name="pricetag" color="secondary"></ion-icon>
                    <b> {{card.cost}}</b></p>
            </ion-col>
            <ion-col *ngIf="card.attack">
                <p class="health-and-attack" text-wrap>
                    <ion-icon name="flame" color="warning"></ion-icon>
                    <b> {{card.attack}}</b></p>
            </ion-col>
            <ion-col *ngIf="card.health">
                <p class="health-and-attack" text-wrap>
                    <ion-icon name="heart" color="danger"></ion-icon>
                    <b> {{card.health}}</b></p>
            </ion-col>
        </ion-row>
        <p [innerHTML]="card.text" *ngIf="card.text" text-wrap></p>
        <p *ngIf="card.rarity" text-wrap><b>Rarity:</b> {{card.rarity}}</p>
        <p *ngIf="card.type" text-wrap><b>Type:</b> {{card.type}}</p>
        <p *ngIf="card.faction" text-wrap><b>Faction:</b> {{card.faction}}</p>
    </div>
</ion-content>
